* {
    box-sizing: border-box;
}

body {
    font-family: "Arial", serif;
    text-rendering: optimizeLegibility;
    color: #333;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4
}

a {
    color: #3B8AD3
}

.container {
    max-width: 800px;
    margin: auto
}

.outer {
    margin-top: 60px
}

.page-header {
    background: #fff;
    position: fixed;
    margin-bottom: 0;
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: 1px solid #e9e9e9;
    height: 70px;
    line-height: 70px
}

.site-title {
    margin: 0
}

.site-title a {
    text-decoration: none;
    color: #5f5e5d
}

.site-title a:hover {
    text-decoration: none
}

.light {
    font-weight: 300
}

.section {
    border-bottom: 1px solid #e9e9e9;
    padding: 30px 0
}

@media (min-width: 480px) {
    .section {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
}
.section-title {
    -webkit-flex-basis: 180px;
    -ms-flex-preferred-size: 180px;
    flex-basis: 180px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.column:not(:first-child) {
    margin-top: 60px
}

.small-title {
    font-family: Arial, sans-serif;
    margin-top: 20px
}

.project-section .subtitle {
    margin-bottom: 5px
}

.education-section .subtitle {
    margin-bottom: 5px
}

.cv-nav {
    border: none;
    display: none;
    font-family: Arial, sans-serif;
    min-height: inherit;
    top: 60px
}

.cv-nav.navbar-inverse,
.cv-nav .navbar-inverse {
    background-color: #3B8AD3
}

.cv-nav.navbar-inverse .nav>.active>a,
.cv-nav .navbar-inverse .nav>.active>a {
    color: #fff;
    background-color: #2870b3
}

.cv-nav.navbar-inverse .nav>li>a,
.cv-nav .navbar-inverse .nav>li>a {
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px
}

.column {
    position: relative
}

.about-me-section .column {
    border-top: 0
}

.contact-me-section .alert {
    margin-top: 20px
}

.contact-me .button-wrapper {
    text-align: right
}

.contact-me .btn {
    background-color: #3B8AD3;
    border-color: #2d7dc8;
    color: #fff;
    letter-spacing: 1px
}

.contact-me .btn .glyphicon-refresh {
    margin-right: 10px;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear
}

#form-success,
#form-error {
    display: none
}

.spanleft {
    padding-left: 0
}

.spanright {
    padding-right: 0
}

.bullet {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 100%;
    left: -10px;
    height: 20px;
    position: absolute;
    top: 40px;
    width: 20px
}

.logo {
    float: right;
    margin-left: 20px;
    margin-top: 5px
}

.skills-list {
    margin-bottom: 30px;
    padding-left: 0
}

.skills-list li {
    margin-left: 15px
}

label {
    font-family: 'Arial', sans-serif
}

.contact-links {
    padding-left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.contact-link {
    line-height: 28px;
    list-style-type: none;
    text-indent: 10px;
    margin-right: 20px;
    font-weight: bold
}

.contact-link svg {
    float: left;
    height: 28px;
    width: 28px
}

.contact-link path {
    fill: #65a3dc
}

.contact-link a {
    vertical-align: middle
}

.contact-link a:hover path {
    fill: #3B8AD3
}

.item {
    height: 200px
}

.lightgallery {
    overflow: auto;
}

.videos {
    max-width: 48%;
    margin: 1%;
    border: 1px solid #dedede;
    overflow: auto;
} 

.portfolio-image {
    max-width: 48%;
    float: left;
    margin: 1%;
    border: 1px solid #dedede;
}
